<h1 class="mt-3">Confirm retirement</h1>
<div id="errors"></div>
<p>If you complete retirement, all data related you are deleted.</p>
<p>But, if you match below conditions, you can not complete retirement.</p>
<ul>
  <li>
    If you have non-ended public event
  </li>
  <li>
    If you join to non-ended event
  </li>
</ul>
<hr/>
<%= link_to "Retirement", retirements_path, method: :post, remote: true, class: "btn btn-danger", data: { confirm: "Are you sure to retirement?" } %>
